@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
/* Font from https://www.cdnfonts.com/ru/gilroy-bold.font */

#root {
  font-family: 'Gilroy-Regular', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
