* {
    padding: 0;
    margin: 0;
}

.projects_header {
    height: 300px;
    background-image: url('assets/header_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
    padding: 50px;
}

.projects_filter{
    text-decoration: underline;
    color: white;
    font-weight: 300;
    font-size: 28px;
    cursor: pointer;
}

.projects_list {
    padding: 20px;
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.project_item {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.project_item img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.project_filter_open {
    color: black;
    background-color: white;
    position: absolute;
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.project_filter_close {
    color: white;
}

.filter_name {
    font-size: 20px;
}

.filter_header {
    font-size: 24px;
}
